ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: right;
	width: 120px;
	text-align: center;
}

.logo {
	height: 223px;
	margin-top: 89px;
	margin-left:480px;
}

.logo img {
	width: 272px;
	padding-top: 192px;

}